body {
    color: white;
    display: flex;
    flex-flow: column wrap;
    align-content: stretch;
    margin: 0 25%;
    height: 15rem;
    width: 40rem;
}

section {
    background-color: darkblue;
    height: 100%;
    width: 20%;
    border: 2px solid darkblue;
}

main {
    height: 100%;
    width: 80%;
    border: 1px solid red;
}

div {
    height: 50%;
}

.flex1 {
    background-color: blue;
}

.flex2 {
    background-color: lightblue;
}