body {
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid red;
}

div {
    background-color: salmon;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid black
}