html, body {
    margin: 0;
    padding: 0;
}

article {
    width: 800px;
    height: 400px;
    background-color: rgba(255, 0, 0, .7);
    border: 1px solid black;
}

section {
    width: 400px;
    height: 300px;
    background-color: rgba(0, 255, 0, .5);
    border: 1px solid black;
}

div {
    width: 200px;
    height: 100px;
    background-color: rgba(0, 0, 255, .5);
    border: 1px solid black;
}

span {
    width: 100px;
    height: 50px;
    background-color: rgba(20, 40, 60, .5);
    border: 1px solid black;
}

#one {
    position: fixed;
    top: 0px;
    right: 0px;
}

#two {
    position: relative;
    bottom: 0px;
    left: 0px;
    }

#three {
    position: absolute;
    top: 0px;
    right: 0px;
}

#four {
    position: absolute;
    bottom: 0px;
    right: 0px;
}